@model Base.WebApp.Models.UserAssign

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("CheckUser", "Home", FormMethod.Post))
{
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <table width="200px">
        <thead>
            <tr>
                <td>
                    Username:
                </td>
                <th>
                    @Html.TextBoxFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                    Userfullname:
                    </td>
                    <td>
                    @Html.TextBoxFor(model => model.UserFullName)
                    </td>
                </tr>
        </tbody>
    </table>
    <input type="submit" value="Save" />
}


<script>
    ELEMENT.locale(ELEMENT.lang.en)
</script>
<script src="~/js/site.js"></script>