@{
    ViewData["Title"] = "Index";
}
<head>
 <link href="~/css/timingpost.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="~/js/timingpost.js"></script>
</head>
<h1>Timing Post</h1>

<p>
    <a onclick="CreateTiming()" class="btn btn-success" id="create">Create New</a>
    <a onclick="ImportTiming()" class="btn btn-success" id="create">Import Excel</a>
    <a onclick="Export()" class="btn btn-success" id="create">Export Excel</a>
</p>

<div class="form-group">
    <label for="pageSize">Page Size:</label>
    <select class="form-control" style="width:min-content" id="pageSize" onchange="changePageSize()">
        <option value="10">10</option>
        <option value="20" selected>20</option>
        <option value="50">50</option>
    </select>
</div>
<table class="table" id="people-table">
    <thead>
        <tr>
            <th></th>
            <th>Customer</th>
            <th>PostName</th>
            <th>PostStart</th>
            <th>PostEnd</th>
            <th>CreatedDate</th>
            <th>CreatedByName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Dữ liệu sẽ được cập nhật tại đây -->
    </tbody>
</table>
<div id="data-container">
    <!-- Dữ liệu sẽ được cập nhật ở đây -->
</div>
<div id="footer" style="display:none">
    <div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="number" id="pageIndex" value="1" min="1" onchange="changePage()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="prevPage()">Previous</button>
                    <button class="btn btn-outline-secondary" type="button" onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@*  <div class="form-group">
        <label for="pageIndex">Page:</label>
        <input type="number" class="form-control" id="pageIndex" value="1" onchange="changePage()">
 </div> *@

<div id="modalCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create</h4>
            </div>

            <div class="modal-body">
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Customer:</span></div>
                        <div class="col-md-11">
                            <input id="txtCustomer" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostName:</span></div>
                        <div class="col-md-11">
                            <input id="txtPostName" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostStart:</span></div>
                        <div class="col-md-11">
                            <input id="txtPostStart" type="date" class="form-control" > </input>
                        </div>
                    </div>
                </div>
                
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostEnd:</span></div>
                        <div class="col-md-11">
                            <input id="txtPostEnd" type="date" class="form-control"> </input>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button onclick="Create()" class="btn btn-primary" type="submit">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update</h4>
            </div>

            <div class="modal-body">
                <input id="up_txtId" type="text" class="form-control" hidden/>
                    
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Customer:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtCustomer" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostName:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtPostName" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostStart:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtPostStart" type="date" class="form-control"> </input>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>PostEnd:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtPostEnd" type="date" class="form-control"> </input>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>CreatedDate:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtCreatedDate" type="datetime" class="form-control" disabled> </input>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>CreatedBy:</span></div>
                        <div class="col-md-11">
                            <input id="up_txtCreatedBy" type="txt" class="form-control" disabled> </input>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button onclick="Update()" class="btn btn-primary" type="submit">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalImport" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nhập file excel</h4>
                </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                            <div class="col-md-4"><span>Chọn file:</span></div>
                            <div class="col-md-8">
                        <input name="postedFile" type="file" id="fileInput" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button onclick="Import()" class="btn btn-primary">Import</button>
                    </div>
        </div>
    </div>
</div>

<div id="loading" class="loading"></div>

<!-- HTML của biểu tượng loading -->
